/*? Responsive  BOLUM 1 */

@media (max-width: 992px) {
    #bolum1 {
        grid-template-columns: 1fr;
        gap: 20px;
        height: auto;
        padding: 20px;
    }



    .food-img {
        width: 270px; /* Küçültüldü */
    }

    .dialog {
        width: 240px;
    }

    .shape {
        width: 20px;
    }

    .shape-4 {
        width: 40px;
    }

    .shape-5 {
        width: 30px;
    }

    .b1_text h2 {
        font-size: 60px; /* Mobil uyum için büyütüldü */
    }

    .b1_text p {
        font-size: 1ş3em;
        width: 90%;
        margin: 20px auto;
    }

    .b1_text_btns {
        flex-direction: column;
        gap: 10px;
    }

    .b1_text_btns button {
        width: 100%;
        font-size: 20px; /* Küçültüldü */
    }
}

@media (max-width: 576px) {
    .b1_text h2 {
        font-size: 60px; /* Daha küçük ekranlar için büyütüldü */
    }
    .food-img {
        width: 200px; /* Küçültüldü */
    }

    .dialog {
        width: 210px;
    }
    .b1_text p {
        font-size: 1.5em;
    }
    .b1_text_btns button {
        width: 100%;
        font-size: 20px; /* Küçültüldü */
    }
}


/*? Responsive  Bolum 2 */

@media (max-width: 992px) {
    
    .b2_boxes {
      flex-direction: column;
      gap: 30px;
    }
  
    #bolum2 h2 {
      font-size: 40px;
    }
  }
  
@media (max-width: 768px) {
    
    #bolum2 {
      padding: 30px 20px;
    }
  
    .b2_boxes {
      gap: 20px;
    }
  
    .b2_boxes .b2_box {
      padding: 30px;
      border-radius: 40px 3px 40px 3px;
    }
  
    .b2_boxes .b2_box h3 {
      font-size: 22px;
    }
  
    .b2_boxes .b2_box i {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }
}
  
@media (max-width: 480px) {
    /* Ekran genişliği 480px veya daha küçük olduğunda */
    .b2_boxes .b2_box {
      padding: 20px;
      border-radius: 30px 3px 30px 3px;
    }
  
    .b2_boxes .b2_box h3 {
      font-size: 20px;
    }
  
    .b2_boxes .b2_box i {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  
    #bolum2 h2 {
      font-size: 35px;
    }
}

/*? Responsive Bolum 3 */

@media (max-width: 992px) {
    .b3_boxes {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .b3_boxes .b3_img img {
      width: 80%;
      margin: 0 auto;
      filter: drop-shadow(0 0 50px rgba(255, 166, 0, 0.49));
    }
  
    .b3_boxes .b3_content {
      margin-top: 40px;
    }
  
    .b3_boxes .b3_content h2 {
      font-size: 40px;
    }
  
    .b3_boxes .b3_content p {
      padding: 30px 20px;
      font-size: 16px;
    }
  
    .b3_boxes .b3_content button {
      width: 180px;
      font-size: 17px;
      height: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .b3_boxes .b3_img img {
      width: 70%;
    }
  
    .b3_boxes .b3_content p {
      padding: 20px 15px;
      font-size: 15px;
    }
  
    .b3_boxes .b3_content h2 {
      font-size: 35px;
    }
  
    .b3_boxes .b3_content button {
      width: 100%;
      font-size: 20px;
      height: 45px;
    }
  }
  
  @media (max-width: 480px) {
    .b3_boxes .b3_img img {
      width: 100%;
    }
  
    .b3_boxes .b3_content p {
      padding: 15px 10px;
      font-size: 14px;
    }
  
    .b3_boxes .b3_content h2 {
      font-size: 30px;
    }
  
    .b3_boxes .b3_content button {
      width: 100%;
      font-size: 20px;
      height: 40px;
    }
  }
  